<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

  <title>Prediksi</title>
  <meta charset="UTF-8">
  <title>Prediksi</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

  <!-- Bootstrap -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
  <!-- Icons -->
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <!-- Fonts -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
  
  <meta charset="UTF-8">
  <title>Prediksi Harga Bitcoin</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="home">
  <nav class="navbar navbar-default navbar-sticky">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span> </button>
      </div>
      <div class="navbar-collapse collapse">
      <div class="card mb-4">
        <div class="card-header" style="background-color: #ffff; color:#ffff">
        <ul class="nav navbar-nav">
          <li ><a href="/">Home</a></li>
          <li class="active"><a href="/pred">Prediksi</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div>
      </div>
    </div>
  </nav>
  <div class="new" style="position: relative; right: 50px"; >
  <div style="position: relative; top: 150px;" class="login">
    <h1>Prediksi Harga Bitcoin</h1>
    <img src="{{url_for('static', filename='btc1.png')}}" width="150" height="150" />
    <h3>Masukkan Nilai yang Di Butuhkan</h3>
      <form action="{{ url_for('predict')}}" method="post" name="google-sheet">
      <br>
      <input type="text" name="price_open" placeholder="Price Open" required="required" />
      <input type="text" name="price_high" placeholder="Price High" required="required" />
      <input type="text" name="price_low" placeholder="Price Low" required="required" />

      <button type="submit" name="submit" value="predict" class="btn">Prediksi</button>
    </form>
    <br>
    <br>
    {{ prediction_text }}
  </div>
  </div>
</body>
</html>